In [3]:
import numpy as np
import pandas as pd
import math

In [4]:
import astroMatch
from importlib import reload
x = reload(astroMatch)

from astroMatch import MatchMaking, get_asthakoot_base_df, get_person_asthkoot_df
from astroMatch import get_matchmaking_df

df = get_asthakoot_base_df()

In [5]:
year = 1995
month = 5
day = 27
hour = 22
minute = 35
second = 0
timeZone = '+05:30'

dt_utc = MatchMaking().convert_standard_to_utc_time(year, month, day, hour, minute, second, timeZone)
mon_pos = MatchMaking().moon(dt_utc).position
maledf = get_person_asthkoot_df(df, mon_pos)

# year = 2000
# month = 5
# day = 31
# hour = 3
# minute = 0
# second = 0
# timeZone = '+03:00'

# dt_utc = MatchMaking().convert_standard_to_utc_time(year, month, day, hour, minute, second, timeZone)
# mon_pos = MatchMaking().moon(dt_utc).position
# femaledf = get_person_asthkoot_df(df, mon_pos)

# dfM = get_matchmaking_df(maledf, femaledf)
# total_points = sum(dfM[~dfM['Obtained'].eq('')]['Obtained'].tolist())
# print(f'Total points = {total_points}')

dfFin [{"nakshatra":1,"varna":"\u0915\u094d\u0937\u0924\u094d\u0930\u093f\u092f","vashya":"\u091a\u0924\u0941\u0937\u094d\u092a\u0926","Tara":"","yoni":"\u0917\u091c","graha maitri":"\u092e\u0902\u0917\u0932","gana":"\u092e\u0928\u0941\u0937\u094d\u092f","bhakut":"\u092e\u0947\u0937","naadi":"\u092e\u0927\u094d\u092f"}]

In [ ]:
maledf.to_json(orient='records')

In [ ]:
points = {}
dfs = {}

In [ ]:
year = 1995
month = 5
day = 27
hour = 22
minute = 35
second = 0
timeZone = '+05:30'

dt_utc = MatchMaking().convert_standard_to_utc_time(year, month, day, hour, minute, second, timeZone)
mon_pos = MatchMaking().moon(dt_utc).position
maledf = get_person_asthkoot_df(df, mon_pos)

In [ ]:
from datetime import date, timedelta

start_date = date(1996, 1, 1) #date(year, month, day)
end_date = date(2001, 1, 1)
delta = timedelta(days=1)

dates = []
while start_date <= end_date:
    dates.append(start_date)
    start_date += delta

In [ ]:
seq_n = 0
for thisdate in dates:
    year = thisdate.year
    month = thisdate.month
    day = thisdate.day
    timeZone = '+05:30'
    
    dt_utc = MatchMaking().convert_standard_to_utc_time(year, month, day, hour, minute, second, timeZone)
    mon_pos = MatchMaking().moon(dt_utc).position
    femaledf = get_person_asthkoot_df(df, mon_pos)

    dfM = get_matchmaking_df(maledf, femaledf)
    total_points = sum(dfM[~dfM['Obtained'].eq('')]['Obtained'].tolist())
    
    points[thisdate] = total_points
    dfs[seq_n] = dfM
    
    seq_n += 1
    print(thisdate, f'Total points = {total_points}')

In [ ]:
dfRes = pd.DataFrame(data=points.items(), columns=['Days', 'Gunas'])
# dfRes.to_excel('First_Result_Overview.xlsx', index=None)

In [ ]:
# dfs[67]

In [ ]:
dfRes.describe()

In [ ]:
dfRes[dfRes['Gunas'] == 33.0]

In [ ]:
dfs[1802]