In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
import astroMatch
from importlib import reload
x = reload(astroMatch)

from astroMatch import MatchMaking, get_asthakoot_base_df, get_person_asthkoot_df
from astroMatch import get_matchmaking_df

df = get_asthakoot_base_df()

In [3]:
# year = 1995
# month = 5
# day = 27
# hour = 22
# minute = 35
# second = 0
# timeZone = '+05:30'

# dt_utc = MatchMaking().convert_standard_to_utc_time(year, month, day, hour, minute, second, timeZone)
# mon_pos = MatchMaking().moon(dt_utc).position
# maledf = get_person_asthkoot_df(df, mon_pos)

# year = 2000
# month = 5
# day = 31
# hour = 3
# minute = 0
# second = 0
# timeZone = '+03:00'

# dt_utc = MatchMaking().convert_standard_to_utc_time(year, month, day, hour, minute, second, timeZone)
# mon_pos = MatchMaking().moon(dt_utc).position
# femaledf = get_person_asthkoot_df(df, mon_pos)

# dfM = get_matchmaking_df(maledf, femaledf)
# total_points = sum(dfM[~dfM['Obtained'].eq('')]['Obtained'].tolist())
# print(f'Total points = {total_points}')

In [4]:
points = {}
dfs = {}

In [5]:
year = 1995
month = 5
day = 27
hour = 22
minute = 35
second = 0
timeZone = '+05:30'

dt_utc = MatchMaking().convert_standard_to_utc_time(year, month, day, hour, minute, second, timeZone)
mon_pos = MatchMaking().moon(dt_utc).position
maledf = get_person_asthkoot_df(df, mon_pos)

In [6]:
from datetime import date, timedelta

start_date = date(year, month, day)
end_date = date(year+1, month, day)
delta = timedelta(days=1)

dates = []
while start_date <= end_date:
    dates.append(start_date)
    start_date += delta

In [7]:
seq_n = 0
for thisdate in dates:
    year = thisdate.year
    month = thisdate.month
    day = thisdate.day
    
    dt_utc = MatchMaking().convert_standard_to_utc_time(year, month, day, hour, minute, second, timeZone)
    mon_pos = MatchMaking().moon(dt_utc).position
    femaledf = get_person_asthkoot_df(df, mon_pos)

    dfM = get_matchmaking_df(maledf, femaledf)
    total_points = sum(dfM[~dfM['Obtained'].eq('')]['Obtained'].tolist())
    
    points[thisdate] = total_points
    dfs[seq_n] = dfM
    
    seq_n += 1
    print(thisdate, f'Total points = {total_points}')

1995-05-27 Total points = 28.0
1995-05-28 Total points = 20.0
1995-05-29 Total points = 23.5
1995-05-30 Total points = 14.5
1995-05-31 Total points = 26.0
1995-06-01 Total points = 25.0
1995-06-02 Total points = 21.5
1995-06-03 Total points = 23.5
1995-06-04 Total points = 23.5
1995-06-05 Total points = 20.0
1995-06-06 Total points = 18.0
1995-06-07 Total points = 20.5
1995-06-08 Total points = 19.0
1995-06-09 Total points = 14.5
1995-06-10 Total points = 22.5
1995-06-11 Total points = 14.5
1995-06-12 Total points = 17.5
1995-06-13 Total points = 19.0
1995-06-14 Total points = 20.0
1995-06-15 Total points = 29.5
1995-06-16 Total points = 27.0
1995-06-17 Total points = 10.0
1995-06-18 Total points = 20.0
1995-06-19 Total points = 21.5
1995-06-20 Total points = 15.5
1995-06-21 Total points = 24.5
1995-06-22 Total points = 33.0
1995-06-23 Total points = 28.0
1995-06-24 Total points = 20.0
1995-06-25 Total points = 23.5
1995-06-26 Total points = 14.5
1995-06-27 Total points = 26.0
1995-06-28 Total points = 25.0
1995-06-29 Total points = 28.5
1995-06-30 Total points = 21.5
1995-07-01 Total points = 23.5
1995-07-02 Total points = 20.0
1995-07-03 Total points = 18.0
1995-07-04 Total points = 20.5
1995-07-05 Total points = 19.0
1995-07-06 Total points = 14.5
1995-07-07 Total points = 28.5
1995-07-08 Total points = 22.5
1995-07-09 Total points = 14.5
1995-07-10 Total points = 17.5
1995-07-11 Total points = 20.0
1995-07-12 Total points = 27.0
1995-07-13 Total points = 27.0
1995-07-14 Total points = 11.0
1995-07-15 Total points = 20.0
1995-07-16 Total points = 24.0
1995-07-17 Total points = 15.5
1995-07-18 Total points = 24.5
1995-07-19 Total points = 33.0
1995-07-20 Total points = 28.0
1995-07-21 Total points = 29.0
1995-07-22 Total points = 23.5
1995-07-23 Total points = 23.5
1995-07-24 Total points = 17.0
1995-07-25 Total points = 26.0
1995-07-26 Total points = 25.0
1995-07-27 Total points = 21.5
1995-07-28 Total points = 23.5
1995-07-29 Total points = 20.0
1995-07-30 Total points = 18.0
1995-07-31 Total points = 20.5
1995-08-01 Total points = 19.0
1995-08-02 Total points = 5.0
1995-08-03 Total points = 28.5
1995-08-04 Total points = 22.5
1995-08-05 Total points = 14.5
1995-08-06 Total points = 17.5
1995-08-07 Total points = 19.0
1995-08-08 Total points = 20.0
1995-08-09 Total points = 29.5
1995-08-10 Total points = 27.0
1995-08-11 Total points = 20.0
1995-08-12 Total points = 24.0
1995-08-13 Total points = 15.5
1995-08-14 Total points = 24.5
1995-08-15 Total points = 33.0
1995-08-16 Total points = 28.0
1995-08-17 Total points = 28.0
1995-08-18 Total points = 20.0
1995-08-19 Total points = 23.5
1995-08-20 Total points = 17.0
1995-08-21 Total points = 26.0
1995-08-22 Total points = 25.0
1995-08-23 Total points = 21.5
1995-08-24 Total points = 23.5
1995-08-25 Total points = 20.0
1995-08-26 Total points = 18.0
1995-08-27 Total points = 25.0
1995-08-28 Total points = 19.0
1995-08-29 Total points = 5.0
1995-08-30 Total points = 28.5
1995-08-31 Total points = 22.5
1995-09-01 Total points = 14.5
1995-09-02 Total points = 17.5
1995-09-03 Total points = 19.0
1995-09-04 Total points = 20.0
1995-09-05 Total points = 29.5
1995-09-06 Total points = 27.0
1995-09-07 Total points = 10.0
1995-09-08 Total points = 20.0
1995-09-09 Total points = 24.0
1995-09-10 Total points = 15.5
1995-09-11 Total points = 24.5
1995-09-12 Total points = 33.0
1995-09-13 Total points = 28.0
1995-09-14 Total points = 20.0
1995-09-15 Total points = 23.5
1995-09-16 Total points = 14.5
1995-09-17 Total points = 26.0
1995-09-18 Total points = 25.0
1995-09-19 Total points = 21.5
1995-09-20 Total points = 21.5
1995-09-21 Total points = 23.5
1995-09-22 Total points = 20.0
1995-09-23 Total points = 18.0
1995-09-24 Total points = 20.5
1995-09-25 Total points = 19.0
1995-09-26 Total points = 14.5
1995-09-27 Total points = 28.5
1995-09-28 Total points = 17.5
1995-09-29 Total points = 17.5
1995-09-30 Total points = 19.0
1995-10-01 Total points = 20.0
1995-10-02 Total points = 27.0
1995-10-03 Total points = 27.0
1995-10-04 Total points = 11.0
1995-10-05 Total points = 20.0
1995-10-06 Total points = 24.0
1995-10-07 Total points = 15.5
1995-10-08 Total points = 24.5
1995-10-09 Total points = 33.0
1995-10-10 Total points = 28.0
1995-10-11 Total points = 29.0
1995-10-12 Total points = 23.5
1995-10-13 Total points = 14.5
1995-10-14 Total points = 17.0
1995-10-15 Total points = 26.0
1995-10-16 Total points = 25.0
1995-10-17 Total points = 21.5
1995-10-18 Total points = 23.5
1995-10-19 Total points = 20.0
1995-10-20 Total points = 18.0
1995-10-21 Total points = 20.5
1995-10-22 Total points = 19.0
1995-10-23 Total points = 5.0
1995-10-24 Total points = 28.5
1995-10-25 Total points = 22.5
1995-10-26 Total points = 14.5
1995-10-27 Total points = 17.5
1995-10-28 Total points = 19.0
1995-10-29 Total points = 20.0
1995-10-30 Total points = 28.0
1995-10-31 Total points = 11.0
1995-11-01 Total points = 20.0
1995-11-02 Total points = 24.0
1995-11-03 Total points = 15.5
1995-11-04 Total points = 24.5
1995-11-05 Total points = 33.0
1995-11-06 Total points = 33.0
1995-11-07 Total points = 28.0
1995-11-08 Total points = 20.0
1995-11-09 Total points = 23.5
1995-11-10 Total points = 17.0
1995-11-11 Total points = 26.0
1995-11-12 Total points = 25.0
1995-11-13 Total points = 21.5
1995-11-14 Total points = 23.5
1995-11-15 Total points = 20.0
1995-11-16 Total points = 18.0
1995-11-17 Total points = 25.0
1995-11-18 Total points = 20.5
1995-11-19 Total points = 5.0
1995-11-20 Total points = 28.5
1995-11-21 Total points = 22.5
1995-11-22 Total points = 14.5
1995-11-23 Total points = 17.5
1995-11-24 Total points = 19.0
1995-11-25 Total points = 20.0
1995-11-26 Total points = 29.5
1995-11-27 Total points = 27.0
1995-11-28 Total points = 10.0
1995-11-29 Total points = 20.0
1995-11-30 Total points = 21.5
1995-12-01 Total points = 15.5
1995-12-02 Total points = 24.5
1995-12-03 Total points = 33.0
1995-12-04 Total points = 28.0
1995-12-05 Total points = 20.0
1995-12-06 Total points = 23.5
1995-12-07 Total points = 14.5
1995-12-08 Total points = 26.0
1995-12-09 Total points = 25.0
1995-12-10 Total points = 21.5
1995-12-11 Total points = 21.5
1995-12-12 Total points = 23.5
1995-12-13 Total points = 20.0
1995-12-14 Total points = 18.0
1995-12-15 Total points = 20.5
1995-12-16 Total points = 19.0
1995-12-17 Total points = 14.5
1995-12-18 Total points = 28.5
1995-12-19 Total points = 22.5
1995-12-20 Total points = 14.5
1995-12-21 Total points = 19.0
1995-12-22 Total points = 20.0
1995-12-23 Total points = 29.5
1995-12-24 Total points = 27.0
1995-12-25 Total points = 10.0
1995-12-26 Total points = 20.0
1995-12-27 Total points = 24.0
1995-12-28 Total points = 15.5
1995-12-29 Total points = 24.5
1995-12-30 Total points = 33.0
1995-12-31 Total points = 28.0
1996-01-01 Total points = 20.0
1996-01-02 Total points = 23.5
1996-01-03 Total points = 14.5
1996-01-04 Total points = 26.0
1996-01-05 Total points = 26.0
1996-01-06 Total points = 28.5
1996-01-07 Total points = 21.5
1996-01-08 Total points = 23.5
1996-01-09 Total points = 20.0
1996-01-10 Total points = 18.0
1996-01-11 Total points = 20.5
1996-01-12 Total points = 19.0
1996-01-13 Total points = 5.0
1996-01-14 Total points = 28.5
1996-01-15 Total points = 22.5
1996-01-16 Total points = 14.5
1996-01-17 Total points = 17.5
1996-01-18 Total points = 19.0
1996-01-19 Total points = 20.0
1996-01-20 Total points = 29.5
1996-01-21 Total points = 11.0
1996-01-22 Total points = 20.0
1996-01-23 Total points = 24.0
1996-01-24 Total points = 15.5
1996-01-25 Total points = 24.5
1996-01-26 Total points = 33.0
1996-01-27 Total points = 28.0
1996-01-28 Total points = 29.0
1996-01-29 Total points = 23.5
1996-01-30 Total points = 23.5
1996-01-31 Total points = 17.0
1996-02-01 Total points = 26.0
1996-02-02 Total points = 25.0
1996-02-03 Total points = 21.5
1996-02-04 Total points = 23.5
1996-02-05 Total points = 20.0
1996-02-06 Total points = 18.0
1996-02-07 Total points = 25.0
1996-02-08 Total points = 19.0
1996-02-09 Total points = 5.0
1996-02-10 Total points = 28.5
1996-02-11 Total points = 22.5
1996-02-12 Total points = 14.5
1996-02-13 Total points = 17.5
1996-02-14 Total points = 19.0
1996-02-15 Total points = 20.0

1996-02-16 Total points = 29.5
1996-02-17 Total points = 27.0
1996-02-18 Total points = 10.0
1996-02-19 Total points = 20.0
1996-02-20 Total points = 21.5
1996-02-21 Total points = 15.5
1996-02-22 Total points = 24.5
1996-02-23 Total points = 33.0
1996-02-24 Total points = 28.0
1996-02-25 Total points = 20.0
1996-02-26 Total points = 23.5
1996-02-27 Total points = 17.0
1996-02-28 Total points = 26.0
1996-02-29 Total points = 25.0
1996-03-01 Total points = 21.5
1996-03-02 Total points = 23.5
1996-03-03 Total points = 20.0
1996-03-04 Total points = 20.0
1996-03-05 Total points = 18.0
1996-03-06 Total points = 20.5
1996-03-07 Total points = 19.0
1996-03-08 Total points = 14.5
1996-03-09 Total points = 28.5
1996-03-10 Total points = 17.5
1996-03-11 Total points = 14.5
1996-03-12 Total points = 17.5
1996-03-13 Total points = 19.0
1996-03-14 Total points = 27.0
1996-03-15 Total points = 28.0
1996-03-16 Total points = 11.0
1996-03-17 Total points = 20.0
1996-03-18 Total points = 24.0
1996-03-19 Total points = 15.5
1996-03-20 Total points = 24.5
1996-03-21 Total points = 33.0
1996-03-22 Total points = 28.0
1996-03-23 Total points = 20.0
1996-03-24 Total points = 23.5
1996-03-25 Total points = 14.5
1996-03-26 Total points = 26.0
1996-03-27 Total points = 25.0
1996-03-28 Total points = 28.5
1996-03-29 Total points = 21.5
1996-03-30 Total points = 23.5
1996-03-31 Total points = 20.0
1996-04-01 Total points = 18.0
1996-04-02 Total points = 20.5
1996-04-03 Total points = 19.0
1996-04-04 Total points = 14.5
1996-04-05 Total points = 28.5
1996-04-06 Total points = 22.5
1996-04-07 Total points = 14.5
1996-04-08 Total points = 17.5
1996-04-09 Total points = 19.0
1996-04-10 Total points = 20.0
1996-04-11 Total points = 29.5
1996-04-12 Total points = 27.0
1996-04-13 Total points = 10.0
1996-04-14 Total points = 24.0
1996-04-15 Total points = 15.5
1996-04-16 Total points = 24.5
1996-04-17 Total points = 33.0
1996-04-18 Total points = 28.0
1996-04-19 Total points = 29.0
1996-04-20 Total points = 20.0
1996-04-21 Total points = 23.5
1996-04-22 Total points = 17.0
1996-04-23 Total points = 26.0
1996-04-24 Total points = 25.0
1996-04-25 Total points = 21.5
1996-04-26 Total points = 23.5
1996-04-27 Total points = 20.0
1996-04-28 Total points = 18.0
1996-04-29 Total points = 25.0
1996-04-30 Total points = 19.0
1996-05-01 Total points = 5.0
1996-05-02 Total points = 28.5
1996-05-03 Total points = 22.5
1996-05-04 Total points = 14.5
1996-05-05 Total points = 17.5
1996-05-06 Total points = 19.0
1996-05-07 Total points = 20.0
1996-05-08 Total points = 29.5
1996-05-09 Total points = 27.0
1996-05-10 Total points = 10.0
1996-05-11 Total points = 20.0
1996-05-12 Total points = 21.5
1996-05-13 Total points = 15.5
1996-05-14 Total points = 24.5
1996-05-15 Total points = 33.0
1996-05-16 Total points = 28.0
1996-05-17 Total points = 20.0
1996-05-18 Total points = 23.5
1996-05-19 Total points = 17.0
1996-05-20 Total points = 26.0
1996-05-21 Total points = 25.0
1996-05-22 Total points = 21.5
1996-05-23 Total points = 23.5
1996-05-24 Total points = 20.0
1996-05-25 Total points = 20.0
1996-05-26 Total points = 18.0
1996-05-27 Total points = 20.5

In [8]:
dfRes = pd.DataFrame(data=points.items(), columns=['Days', 'Gunas'])
# dfRes.to_excel('First_Result_Overview.xlsx', index=None)

In [11]:
dfs[67]

                  Male     Female  Obtained  Max Points
varna         क्षत्रिय      वैश्य       1.0           1
vashya         चतुष्पद  द्विपद-नर       0.0           2
Tara                 4          7       1.5           3
yoni                गज    व्याघ्र       2.0           4
graha maitri      मंगल        बुध       0.5           5
gana            मनुष्य     राक्षस       0.0           6
bhakut             मेष      कन्या       0.0           7
naadi             मध्य       मध्य       0.0           8

In [9]:
dfRes[dfRes['Gunas'] == 5.0]

           Days  Gunas
67   1995-08-02    5.0
94   1995-08-29    5.0
149  1995-10-23    5.0
176  1995-11-19    5.0
231  1996-01-13    5.0
258  1996-02-09    5.0
340  1996-05-01    5.0

In [10]:
dfRes

           Days  Gunas
0    1995-05-27   28.0
1    1995-05-28   20.0
2    1995-05-29   23.5
3    1995-05-30   14.5
4    1995-05-31   26.0
..          ...    ...
362  1996-05-23   23.5
363  1996-05-24   20.0
364  1996-05-25   20.0
365  1996-05-26   18.0
366  1996-05-27   20.5

[367 rows x 2 columns]