In [44]:
import numpy as np
import pandas as pd

In [45]:
import astroMatch
from importlib import reload
x = reload(astroMatch)

from astroMatch import MatchMaking, nakshatras, zodiac_signs
from astroMatch import varnaList, grihaSwami, getVashyaDataFrame

In [46]:
dfVashya = getVashyaDataFrame()

In [47]:
stp = 360/(27*4)
degrees = np.arange(stp, 360 + stp, stp)

df = pd.DataFrame(data=degrees, columns=['degrees'])
df['degrees'] = df['degrees'].apply(lambda x: round(x, 4))

df['rashi'] = [j for i in range(len(zodiac_signs)) for j in [i]*9]
df['rashiName'] = df.apply(lambda x: zodiac_signs[int(x['rashi'])], axis=1)

df['nakshatra'] = [j for i in range(len(nakshatras)) for j in [i]*4]
df['nakshatraName'] = df.apply(lambda x: nakshatras[int(x['nakshatra'])], axis=1)

df['padas'] = [i for i in range(1, 5)] * 27

cols = ['degrees', 'rashi', 'nakshatra', 'rashiName', 'nakshatraName', 'padas']
df = df[cols]

df['swami'] = [j for i in grihaSwami for j in [i]*9]
df['varna'] = [j for i in varnaList for j in [i]*9] * 3
df['vashya'] = df.apply(lambda x: dfVashya.loc[dfVashya['Max Degrees'].sub(x['degrees']).abs().idxmin(), 'Vashya'], axis=1)

In [48]:
year = 1995
month = 5
day = 27
hour = 22
minute = 35
second = 0
timeZone = '+05:30'

dt_utc = MatchMaking().convert_standard_to_utc_time(year, month, day, hour, minute, second, timeZone)
moon = MatchMaking().moon(dt_utc)
mon_pos = moon.position

if mon_pos < 0:
    idx = df['degrees'].sub(360+mon_pos).abs().idxmin()
else:
    idx = df['degrees'].sub(mon_pos).abs().idxmin() + 1

df.loc[[idx]]

,degrees,rashi,nakshatra,rashiName,nakshatraName,padas,swami,varna,vashya
7,26.6667,0,1,मेष,भरणी,4,मंगल,क्षत्रिय,चतुष्पद

In [49]:
year = 1999
month = 12
day = 17
hour = 20
minute = 14
second = 0
timeZone = '-03:00'

dt_utc = MatchMaking().convert_standard_to_utc_time(year, month, day, hour, minute, second, timeZone)
moon = MatchMaking().moon(dt_utc)
mon_pos = moon.position

if mon_pos < 0:
    idx = df['degrees'].sub(360+mon_pos).abs().idxmin()
else:
    idx = df['degrees'].sub(mon_pos).abs().idxmin() + 1

df.loc[[idx]]

,degrees,rashi,nakshatra,rashiName,nakshatraName,padas,swami,varna,vashya
106,356.6667,11,26,मीन,रेवती,3,गुरु,ब्राह्मण,जलचर

In [50]:
df

,degrees,rashi,nakshatra,rashiName,nakshatraName,padas,swami,varna,vashya
0,3.3333,0,0,मेष,अश्विनी,1,मंगल,क्षत्रिय,चतुष्पद
1,6.6667,0,0,मेष,अश्विनी,2,मंगल,क्षत्रिय,चतुष्पद
2,10.0000,0,0,मेष,अश्विनी,3,मंगल,क्षत्रिय,चतुष्पद
3,13.3333,0,0,मेष,अश्विनी,4,मंगल,क्षत्रिय,चतुष्पद
4,16.6667,0,1,मेष,भरणी,1,मंगल,क्षत्रिय,चतुष्पद
...,...,...,...,...,...,...,...,...,...
103,346.6667,11,25,मीन,उत्तरभाद्रपद,4,गुरु,ब्राह्मण,जलचर
104,350.0000,11,26,मीन,रेवती,1,गुरु,ब्राह्मण,जलचर
105,353.3333,11,26,मीन,रेवती,2,गुरु,ब्राह्मण,जलचर
106,356.6667,11,26,मीन,रेवती,3,गुरु,ब्राह्मण,जलचर
107,360.0000,11,26,मीन,रेवती,4,गुरु,ब्राह्मण,जलचर