In [57]:
import datetime
import math
import swisseph as swe

# Set the Vadodara, Gujarat, India location
lat = 22.3072
lon = 73.1812

year = 1995
month = 5
day = 27
hour = 22
minute = 35
second = 0

month = f'0{month}' if month < 10 else month
day = f'0{day}' if day < 10 else day
hour = f'0{hour}' if hour < 10 else hour
minute = f'0{minute}' if minute < 10 else minute
second = f'0{second}' if second < 10 else second

# input datetime in string format
dt_str = f'{year}-{month}-{day} {hour}:{minute}:{second}+05:30'
dt = datetime.datetime.fromisoformat(dt_str)
offset = datetime.timedelta(hours=int(dt_str[-6:-3]), minutes=int(dt_str[-2:]))
tz = datetime.timezone(offset)
dt_utc = dt.astimezone(datetime.timezone.utc)

swe.set_sid_mode(swe.SIDM_LAHIRI)

jd = swe.utc_to_jd(dt_utc.year , dt_utc.month, dt_utc.day, dt_utc.hour, dt_utc.minute, dt_utc.second)
jd = float(jd[1])
ayanamsha = swe.get_ayanamsa_ut(jd)
moon_pos = swe.calc_ut(jd, swe.MOON)[0][0]
moon_pos += swe.get_ayanamsa(jd) #- swe.sidtime(jd) #- (lon/15)

moon_sign = math.floor((moon_pos - ayanamsha) / 30.0) % 12

# moon_sign = math.floor((moon_pos / 30.0)) % 12

zodiac_signs = ['मेष', 'वृषभ', 'मिथुन', 'कर्क', 'सिंह', 'कन्या', 'तुला', 'वृश्चिक', 'धनु', 'मकर', 'कुंभ', 'मीन']

print(zodiac_signs[moon_sign])

मेष

In [56]:
math.floor((moon_pos / 30.0)) % 12

1

In [41]:
swe.sidtime(jd)

9.402284132837995

In [39]:
swe.get_ayanamsa_ut(jd)

23.792849994088954

In [35]:
moon_pos

47.62047087662206

In [25]:
year = 1973
month = 3
day = 4
hour = 3
minute = 30
second = 0

month = f'0{month}' if month < 10 else month
day = f'0{day}' if day < 10 else day
hour = f'0{hour}' if hour < 10 else hour
minute = f'0{minute}' if minute < 10 else minute
second = f'0{second}' if second < 10 else second

# input datetime in string format
dt_str = f'{year}-{month}-{day} {hour}:{minute}:{second}+05:30'
dt = datetime.datetime.fromisoformat(dt_str)
offset = datetime.timedelta(hours=int(dt_str[-6:-3]), minutes=int(dt_str[-2:]))
tz = datetime.timezone(offset)
dt_utc = dt.astimezone(datetime.timezone.utc)

jd = swe.utc_to_jd(dt_utc.year , dt_utc.month, dt_utc.day, dt_utc.hour, dt_utc.minute, dt_utc.second)
jd = float(jd[1])
ayanamsha = swe.get_ayanamsa_ut(jd)
moon_pos = swe.calc_ut(jd, swe.MOON)[0][0]
moon_sign = math.floor((moon_pos - ayanamsha) / 30.0) % 12

zodiac_signs = ['मेष', 'वृषभ', 'मिथुन', 'कर्क', 'सिंह', 'कन्या', 'तुला', 'वृश्चिक', 'धनु', 'मकर', 'कुंभ', 'मीन']

print(zodiac_signs[moon_sign])

कुंभ

In [29]:
moon_pos

329.7162596532217

In [32]:
ayanamsha

24.365539890595926

In [30]:
(moon_pos - ayanamsha)

305.3507197626258

In [31]:
ayanamsha

24.365539890595926

In [26]:
moon_pos/30

10.990541988440723

In [27]:
zodiac_signs[int(moon_pos/30)]

'कुंभ'

In [58]:
import pytz

In [60]:
# Create a dictionary of time zones keyed by country code
time_zones = {}
for zone in pytz.all_timezones:
    country_code = zone.split('/')[0]
    if country_code not in time_zones:
        time_zones[country_code] = []
    time_zones[country_code].append(zone)

# Create a list of countries and their time zones
countries = []
for country_code, zones in time_zones.items():
    country_name = pytz.country_names.get(country_code)
    if country_name:
        countries.append((country_name, zones))

# Print the list of countries and their time zones
for country in countries:
    print(country[0])
    for zone in country[1]:
        print('\t', zone)

Britain (UK)
	 GB
New Zealand
	 NZ
United States
	 US/Alaska
	 US/Aleutian
	 US/Arizona
	 US/Central
	 US/East-Indiana
	 US/Eastern
	 US/Hawaii
	 US/Indiana-Starke
	 US/Michigan
	 US/Mountain
	 US/Pacific
	 US/Samoa